<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="/jquery.multiselect.css" rel="stylesheet" />
<script src="/jquery.multiselect.js"></script>	
<style>
input[type=checkbox]{
    opacity: 0;
}
.ms-options{
	margin-left : 14px;
	border-radius: 10px;
    min-height: 0px !important;
}
</style>
<h3>{{viewTitle}}</h3>

<form action="/company_student" method="POST" autocomplete="off">
<input type="hidden" name="_id" value="{{company._id}}">   
    <div class="form-group">
        <label for="company">Company Name</label>
        <select name="company_name" class="form-control">
            <option value="">Select Company</option>
            {{#each companylist}}
                <option value="{{this._id}}">{{this.name}}</option>
            {{/each}}
        </select>
        <div class="text-danger">
            {{company.nameError}}
        </div>  
    </div>
    <div class="form-group">
  <label class="mdb-main-label">Student Name</label>
        <select name="student_name[]" multiple id="langOpt">
        {{#each studentlist}}
            <option value={{this._id}}>{{this.name}}</option>
	    {{/each}}
	    </select>
        <div class="text-danger">
            {{company.nameError}}
        </div>  
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="glyphicon glyphicon-inbox"></i> Submit</button>
        <a href="/company_student/list" class="btn btn-success"><span class="glyphicon glyphicon-list-alt"></span> View All</a>
    </div>
</form>
<script type="text/javascript">
	$('#langOpt').multiselect({
    columns: 1,
    placeholder: 'Select Students',
    search: true
});
$("li").click(function(){
	console.log($("button span").text());
});
</script>