<style>
    .dropdown-toggle{
        width: 100%;
        background-color: #fff;
        color: #000;
        border-color: #000;
    }
</style>
<h3>{{viewTitle}}</h3>

<form action="/company_student" method="POST" autocomplete="off">
<input type="hidden" name="_id" value="{{company._id}}">   
    <div class="form-group">
        <label for="company">Company Name</label>
        <select name="company_name" class="form-control">
            <option value="">Select Company</option>
            {{#each companylist}}
                <option value="{{this.name}}">{{this.name}}</option>
            {{/each}}
        </select>
        <div class="text-danger">
            {{company.nameError}}
        </div>  
    </div>
    <div class="form-group">
  <label class="mdb-main-label">Student Name</label>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="width: 100%"></button>
            <ul class="dropdown-menu" style="width: 100%">
                {{#each studentlist}}
                    <li style="padding: 2%; cursor: pointer;"><input type="checkbox" name="student_name" value={{this.name}} class="checkbox" style="opacity: 0">{{this.name}}</li>
                {{/each}}
            </ul>
        </div>

        <div class="text-danger">
            {{company.nameError}}
        </div>  
        
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="glyphicon glyphicon-inbox"></i> Submit</button>
        <a href="/company_student/list" class="btn btn-success"><span class="glyphicon glyphicon-list-alt"></span> View All</a>
    </div>
</form>
<script>
    $("li").click(function(){
        if($(this).children(".checkbox").prop("checked") != true){
            $(this).children(".checkbox").prop('checked',true);
            $(this).css({
                "background-color" : "#f15b5b",
                "color" : "#fff"
            });
            var name = $(this).text();
            console.log(name);
            $(this).parent().siblings(".dropdown-toggle").append(name+", ");
        }
        else{
            $(this).children(".checkbox").prop('checked',false);
            $(this).css({
                "background-color" : "#fff",
                "color" : "#000"
            });
        }
    });
</script>